/* css styles */
:root {
    --maroon: 832846;
    --red: #D7263D;
    --red-orange: #E6433A;

    --orange: #F46036;

    --yellow-orange: #F7982D;
    --yellow: #F9CF24;
    --light-yellow: #fce37e;
    --white-yellow: #FEF6D7;

    --dark-blue: #2E294E;
    --dark-teal: #25616D;
    --teal: #1B998B;

}

 
/*body {
    background-color: var(--red);
}

nav {
    background-color: #2E294E;
}

nav.sidebar {
    background-color: pink;
}

.sidebar-header {
    color: red;
    background-color: #1B998B;
}

.sidebar-title {
    background-color: yellow;
}

.sidebar-menu-container {
    background-color: pink;
}



.quarto-container {
    background-color: var(--red);
    font-family: "IBM Plex Mono", serif}

    */

.title {
    font-size: 100px;
}

.navbar {
    background-color:var(--yellow-orange);
}

.column {
    padding:5px;
}

.bigtext {
    font-size: larger;
    color:#F7982D;
}

.blockquote {
    border-color: #F7982D;
    background-color: #f7992d20;
}

.overview {
    background-color: #F7982D;
    padding: 20px;
    border-radius: 7px;
}