/*-- scss:defaults --*/

// Import font
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

// colors
$white:  #ffffff !default;
$gray: rgb(128, 128, 128);
$black:  #000000 !default;
$yellow: rgb(255, 187, 0);
$code-blue: #38B6FF;
$design-green: #7ED957;
$research-red: #FF914D;

//colors translucent
$white-t:  rgba(255, 255, 255, 0.45);
$black-t:  rgba(0, 0, 0, 0.45);
$yellow-t: rgba(255, 187, 0, 0.45);
$code-blue-t: rgba(56, 182, 255, 0.45);
$design-green-t: rgba(126, 217, 87, 0.45);
$research-red-t: rgba(255, 145, 77, 0.45);

.code {
    background-color: $code-blue-t;
}

.design {
    background-color: $design-green-t;
}

.research {
    background-color: $research-red-t;
}

//active link
$link-color: $black;

$body-color: $black;

//sidebar


$sidebar-bg: $white;

.sidebar-title {
    margin-bottom: 20px;
}

.sidebar-title:after{
    content:"programmer * designer * researcher * artist *";
    position: absolute;
    top: 60px;
    left: 20px;
    width: 80%;
    font-size:12px;
    margin-bottom: 100px;
    
}

.sidebar-menu-container {
    margin-top: 45px;

}

.sidebar-item-container {
    padding: 3px;
    width:  100%;
    margin-bottom: 15px;

    .menu-text{
        color:$black;
    }

}

.sidebar-item-container:hover {
    background-color: $black;

    .menu-text{
        color:$white;
    }
    

}


$border-color: $black;

// image things
$circle-radius: 150px;

.circle-image {
    height: $circle-radius;
    width:100%;
    position: relative;
    right:0px;
    z-index: -1;
    display: flex;
    justify-content: left;
    margin-bottom: 12px;

    img {
        height: $circle-radius;
        width: $circle-radius;
        object-fit: cover;
        border-radius: 50%;
    }
    
}



//Scroll bar
/* width */
::-webkit-scrollbar {
    width: 15px;
    height: 15px;
  }
  
  /* Track 
  ::-webkit-scrollbar-track {
  
  }*/
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: $black; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: $gray; 
  }

.home {
    //margin-top: -40px;
    height: 450px;
}

// changing font color of footer

footer {
    p {
        color: $black;
    }
} 


a {
    background-color: $black;
    color:black;
}





.left-col-home {
    padding-right: 20px;
    height: 100%;
    overflow-y:scroll;
    max-width: 50%;
    border-right-style: solid;
    border-color: black;
    border-right-width: 1px;
}


.right-col-home {
    width: 60%;
    height: 100%;
    border-style: solid;
    border-color: black;
    border-left-width: 0px;
    border-bottom-width: 1px;
    border-right-width:0px;
    border-top-width:0px;

}

.medium-text {
    font-size: 17px;
    margin-bottom: -15px;
}
.big-text {
    font-size: 52px;
    line-height: 0.85;
    width: 260px;
    margin-left: -3.7px;
    margin-bottom: 20px;
    max-width: 300px;
   
    p {
        padding: 5px 0px;
    }

    // /* From https://css.glass */
    // background: rgba(255, 255, 255, 0.098);
    // border-radius: 16px;
    // box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    // backdrop-filter: blur(6px);
    // -webkit-backdrop-filter: blur(6px);
}

.links {
    display: inline;
   

    a {
        background-color: black;
        color: white;
        text-decoration: none;
        font-size: 12.8px;
        padding: 10px 5%;
        margin-right: -3px;
    }

    a:hover {
        background-color: $gray;
    }
}

.about-me-text{
    margin-top:-20px;
}

.about-me {
    margin-top: 40px;
    font-size: 12px;
    width: 60%;
}

.asides {
    float:right;
    text-align: right;
    font-size: 7.8px;
    width: 30%;
}

.home-right-content {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    overflow-y: hidden;
    height: 402px;
    padding-top: 0px;

}

.page-container {
    //min-width: 185px;
    width:33%;
    margin-right: 15px;
    float:left;
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
}

.p-c-code:hover{
    background-color: $code-blue;
}

.p-c-design:hover{
    background-color: $design-green;
}

.p-c-research:hover{
    background-color: $research-red;
    //width: 300px;
}

.title {
    font-size: 20px;
    height: 32px;
    margin-top: 30px;
    padding-left: 10px;
}

.page-link {
    position: relative;
    height: 0px;
    top: -21px;
    margin:0px;
    padding: 0px;
    z-index: 1;

    a {
        display: block;
        background-color: transparent;
        width: 100%;
        padding: 0px;
        margin: 0px;
        padding-bottom: 401px;
        
    }
}

.page-title {
    position: relative;
    font-size: 12.6px;
    padding-left:10px;
    margin-bottom: -11px;
    z-index: 0;

}
.page-image {
    position: relative;
    height: 20vw;
    // https://www.w3schools.com/css/css_align.asp
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;


    .fa-solid {
        color: $black;
        font-size: 5vw;
        
    }

    img {
        top:0px;
        left:0px;
        object-fit: cover;
        height: 20vw;
    }
}

.page-description {
    position: relative;
    font-size: 7.8px;
    padding-left: 10px;
    padding-top: 5px;
    width: 80%;
    line-height: 1;
    z-index: 0;
}


//responsive design
@media only screen and (max-width: 900px) {
    .home-right-content {
        display: flex;
        flex-direction: column;
        overflow-y: scroll;
        height: 100%;
        padding-top: 0px;

        .page-container {
            width:90%;
            padding-bottom: 10px;
            margin-bottom: 0px;
    }

        .page-title {
            float: left;
        }

        .page-container:hover {
            .page-description {
                background-color: transparent;
            }
        }

        .page-link {
            position: relative;
            height: 0px;
            top: -21px;
            margin:0px;
            padding: 0px;
            z-index: 1;
        
            a {
                display: block;
                background-color: transparent;
                width: 100%;
                padding: 0px;
                margin: 0px;
                padding-bottom: 110px; // needs to cover all of area
                
            }
        }

        .page-image {
            height: 30px;
            padding-top: 4px;
            padding-left: 7px;
            align-items: left;
            justify-content: left;

            .fa-solid {
                font-size: 14px;
            }
        
        }

        .page-description {
            background-color: $white;
            width: 100%;
            height: 100%;
        }

        .p-c-code {
            background-color: $code-blue-t;
        }

        .code {
            background-color: transparent;
        }

        .p-c-design {
            background-color: $design-green-t;
        }

        .design {
            background-color: transparent;
        }
        
        .p-c-research {
            background-color: $research-red-t;
        }

        .research {
            background-color: transparent;
        }
    }

    .left-col-home {
        min-width:66%;
    }

    .right-col-home {
        max-width: 30%;
        padding-top: 0px;
    }

}

@media only screen and (max-width: 750px) {

    .home-right-content {
        display: flex;
        flex-direction: column;
        overflow-y: scroll;
        height: 100%;
    }
}

@media only screen and (max-width: 670px) {

    .left-col-home {
        min-width: 100%;
        height: 450px;
    }

    .right-col-home{
        display: none;
        visibility: hidden;
    }
    
}



// main project pages

// .tab-body {
    
// }

.descriptor-text {
    margin-top: 4px;
    font-size: 12px;
    width: 100%;
}

.left-col {
    max-width: 27%;
    margin-right: 4%;
}

.right-col {
    height: 450px;
    min-width: 69%;
    border-right-width:1px;
    border-right-style:solid;
    border-right-color:$black;
    overflow-y: scroll;
    padding-left: 20px;
    padding-bottom: 50px;
    margin-bottom:20px;
}

.proj-right{
    flex-direction: row;
    overflow-x: scroll;
    height: 100%;
    padding-top: 50px;
    overflow-y: scroll;
}

.project-container {
    padding-bottom: 25px;
    padding: 10px 10px;
    width: 90%;
    //float:left;
    margin-right:15px;
    margin-bottom: 15px;
    // from: https://www.w3schools.com/css/css3_images.asp
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.proj-image {

    img {
        object-fit: cover;
        display: block;
        top: 0px;
        left: 0px;
        margin:auto;
        width: 100%;
        max-height: 100%;
    }

}

.proj-title {
    font-size: 12.6px;
    margin-top: 12px;
    margin-bottom: -15px;
}

.proj-description {
    font-size: 7.8px;
}

.project-links {
    display: inline;
   

    a {
        background-color: black;
        color: white;
        text-decoration: none;
        font-size: 7.2px;
        padding: 10px 5%;
        margin-right: -3px;
    }

    a:hover {
        background-color: $gray;
    }
}

// responsive design
@media only screen and (max-width: 650px) {
    .left-col{
        min-width: 100%;
    }

    .right-col{
        min-width: 100%;
        max-height: 350px;
        padding-left: 12px;
    }

}

@media only screen and (max-width: 400px) {
    .project-container {
        width: 80%;
    }
   
}

// Individual project pages

.code-proj-body{
}

.code-proj-top{
    display: flex;
    flex-direction: left;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.code-proj-info{
    width: 40%;
    padding-left: 16px;
}

.code-proj-links {
    text-align: left;

    a {
        background-color: $black;
        color: white;
        text-decoration: none;
        font-size: 13px;
        padding: 10px 15px;
        width: 30%;
    }

    a:hover {
        background-color: $code-blue;
    }
}

.code-proj-image{
    //background-color: red;
    box-sizing: border-box;
    resize: horizontal;
    overflow: visible;
    width: 60%;
    max-height: 100%;

}

.video {
    display: inline-block;
    width: 100%;
}

.code-proj-title {
    font-size: 52px;
    margin-bottom: 0px;
}

.code-proj-names {
    font-size: 15px;
    width: 75%;
}

.code-proj-class {
    font-size: 12px;
    width: 100%;
    margin-bottom: 30px;

    p {
        margin-bottom: 0px;
    }
}

.code-proj-bottom{
    padding: 20px;

   

}

.code-proj-desc{
    margin-top: 20px;
    font-size: 12px;
    width: 66%;
}

.screenshots-container{
    //background-color: red;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 16px;

}

.screenshot{
    // background-color: teal;
    // padding: 10px;
    // overflow:visible;

    // from: 
    //padding: 10px;
    box-sizing: border-box;
    //resize: horizontal;
    //border: 1px solid;
    overflow: auto;
    max-width: 100%;
}

.screenshot-image {
    background-color: $code-blue-t;
    // height: 200px;
    

    img {
        object-fit: cover;
        display: block;
        top: 0px;
        left: 0px;
        margin:auto;
        width: 100%;
        max-height: 100%;
    }
    
}

.screenshot-caption {
    margin-top: 8px;
    font-size:10px;
    width: 80%;
}

@media only screen and (max-width: 700px) {
    .code-proj-top {
        display: inline-block;
        //background-color: red;
    }

    .code-proj-info {
        min-width: 100%;
        padding:0px;
    }

    .code-proj-image {
        width: 100%;
    }

    .code-proj-links {
        text-align: center;
    
        a {
            display: inline-block;
            width: 100%;
            margin:0px;
        }
    }
}
  
