/*-- scss:defaults --*/

// Import font
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

// colors
$white:  #ffffff !default;
$gray: rgb(128, 128, 128);
$black:  #000000 !default;
$yellow: rgb(255, 187, 0);
$code-blue: #38B6FF;
$design-green: #7ED957;
$research-red: #FF914D;

//colors translucent
$white-t:  rgba(255, 255, 255, 0.45);
$black-t:  rgba(0, 0, 0, 0.45);
$yellow-t: rgba(255, 187, 0, 0.45);
$code-blue-t: rgba(56, 182, 255, 0.45);
$design-green-t: rgba(126, 217, 87, 0.45);
$research-red-t: rgba(255, 145, 77, 0.45);

//colors darkened
$white-d:  hsl(0, 0%, 70%) !default;
$gray-d: hsl(0, 0%, 30%);
$black-d:  #000000 !default;
$yellow-d: hsl(44, 100%, 40%);
$code-blue-d: hsl(202, 100%, 40%);
$design-green-d: hsl(102, 63%, 40%);
$research-red-d: hsl(23, 100%, 40%);


//margins and border radius
$margin: 6px;
$border-radius: 4px;
$box-shadow-yellow: none; //0 4px 8px 0 $yellow, 0 6px 20px 0 $research-red-t;

.code {
    background-color: $code-blue-t;
}

.design {
    background-color: $design-green-t;
}

.research {
    background-color: $research-red-t;
}

.quarto-container {
    // background-image: linear-gradient(to bottom right, $white, $yellow-t);
    background-color: $white;
}

//active link
$link-color: $black;

$body-color: $black;

//sidebar

$sidebar-bg: $white;

.sidebar-title {
    margin-bottom: 20px;
}

.sidebar-menu-container::after {
    content: "Email: kagray@g.hmc.edu";
    font-size: 14px;
    position: absolute;
    top: 88vh;
    padding: 8px;
}

.sidebar-item-container {
    padding: 8px;
    width:  100%;
    margin-bottom: 15px;
    background-color: $research-red;
    border-radius: 4px;
    color:$black;

    .menu-text{
        color:$black;
    }

}

.sidebar-item-container:active{
    color:$black;
}

.sidebar-item-container:hover {
    background-color: $black;

    .menu-text{
        color:$white;
    }
    

}


$border-color: transparent;

.box-shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


// image things
$circle-radius: 150px;

.circle-image {
    height: $circle-radius;
    width:100%;
    position: relative;
    right:0px;
    z-index: -1;
    display: flex;
    justify-content: left;
    margin-bottom: 12px;

    img {
        height: $circle-radius;
        width: $circle-radius;
        object-fit: cover;
        border-radius: 50%;
    }
    
}



//Scroll bar
/* width */
::-webkit-scrollbar {
    width: 15px;
    height: 15px;
  }
  
  /* Track 
  ::-webkit-scrollbar-track {
  
  }*/
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: $black; 
    border-radius: 8px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: $gray; 
  }

.home {
    //margin-top: -40px;
    height: 80vh;
}

// changing font color of footer

footer {
    p {
        color: $black;
    }
} 


a {
    background-color: $black;
    color:$black;
}





.left-col-home {
    padding-right: 20px;
    height: 100%;
    overflow-y:scroll;
    max-width: 50%;
    border-right-style: solid;
    border-color: $black;
    border-right-width: 1px;
}


.right-col-home {
    width: 60%;
    height: 100%;
    border-style: solid;
    border-color: $black;
    border-left-width: 0px;
    border-bottom-width: 1px;
    border-right-width:0px;
    border-top-width:0px;

}

.medium-text {
    font-size: 17px;
    margin-bottom: -15px;
}
.big-text {
    font-size: 48px;
   
    line-height: 0.85;
    margin-left: -3.7px;
    margin-bottom: 20px;
   
    p {
        padding: 5px 0px;
    }

    // /* From https://css.glass */
    // background: rgba(255, 255, 255, 0.098);
    // border-radius: 16px;
    // box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    // backdrop-filter: blur(6px);
    // -webkit-backdrop-filter: blur(6px);
}

.links {
    display: inline;
   

    a {
        background-color: $black;
        border-radius: 4px;
        color: $white;
        text-decoration: none;
        font-size: 12.8px;
        padding: 10px 5%;
        margin-right: -3px;
    }

    a:hover {
        background-color: $gray;
    }
}

.about-me-image {
    img{
        min-height: 200px;
        height:48vh;
        object-fit: cover;
    }
}
.about-me-text{
    // display: grid;
    // grid-template-rows: auto;

}

.main-text {
    background-color: $yellow-t;
    box-shadow: $box-shadow-yellow;
    margin:$margin;
    border-radius: $border-radius;
    padding: 24px;
    overflow-y: scroll;
}

.tldr {
    display: flex;
    flex-direction: row;
    border-radius: 8px;
    margin-bottom: 8px;
}

.tldr-text{
    box-shadow: $box-shadow-yellow;
    margin:$margin;
    border-radius: $border-radius;
    font-size: 16px;
    padding: 9px;
    width: 70%;
    line-height: 24px;
}

.home-img {
    background-color: red;
    width: 30%;
    max-height: 100%;
    margin:$margin;
    border-radius: $border-radius;

    img {
        object-fit: cover;
        min-height: 200px;
        border-radius: $border-radius;
    }
}

.fun-corner{
    background-image: linear-gradient($yellow, $yellow-t);
    box-shadow: $box-shadow-yellow;
    margin:$margin;
    border-radius: $border-radius;
    width:40%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-size: 12px;
    padding: 8px;
    color: $yellow;
}

.fun-corner:hover{
    background-image: none;
    background-color:$black;
}

.about-me-top {
    display: flex;
    flex-direction: left;
    width:73vw;
    height:85vh;
    min-height: 550px;
}

.about-me-top-left {
    
    width:33%;
    padding: 24px;
    box-shadow: $box-shadow-yellow;
    margin:$margin;
    border-radius: $border-radius;
    background-image: linear-gradient($yellow-t, $yellow);
}


.about-me-header {
    text-align: left;
    p {
        font-size: 1.5em;
        font-weight: 500;
    }

    .fa-solid {
        font-size: 1em;
        text-align: center;
        color:$research-red;
        }
}



.about-me {
    margin-bottom: 40px;
    font-size: 12px;
    width: 60%;
}

.home-proj-area {
    height: 368px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 12px;
    margin: 0px 6px;
}

.home-proj {
    border-radius: $border-radius;
    height: 400px;
    border-radius: 4px;
    padding-bottom: 25px;
    padding: 10px 10px;
    min-width:200px;
    width: fit-content;
    margin-bottom: 15px;
    // from: https://www.w3schools.com/css/css3_images.asp
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    img {
        width: min(400px, 60vw);
        height: 240px;
    }

    img:hover{
        filter: brightness(80%);
    }
}


.asides {
    float:right;
    text-align: right;
    font-size: 9px;
    width: 30%;
    margin-top: -32px;
}

.home-right-content {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    overflow-y: hidden;
    height: 402px;
    padding-top: 0px;

}

.page-container {
    //min-width: 185px;
    width:33%;
    margin-right: 15px;
    float:left;
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
}

.p-c-code:hover{
    background-color: $code-blue;
}

.p-c-design:hover{
    background-color: $design-green;
}

.p-c-research:hover{
    background-color: $research-red;
    //width: 300px;
}

.title {
    font-size: 20px;
    height: 32px;
    margin-top: 30px;
    padding-left: 10px;
}

.page-link {
    position: relative;
    height: 0px;
    top: -21px;
    margin:0px;
    padding: 0px;
    z-index: 1;

    a {
        display: block;
        background-color: transparent;
        width: 100%;
        padding: 0px;
        margin: 0px;
        padding-bottom: 401px;
        
    }
}

.page-title {
    position: relative;
    font-size: 12.6px;
    padding-left:10px;
    margin-bottom: -11px;
    z-index: 0;

}
.page-image {
    position: relative;
    height: 20vw;
    // https://www.w3schools.com/css/css_align.asp
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;


    .fa-solid {
        color: $black;
        font-size: 5vw;
        
    }

    img {
        top:0px;
        left:0px;
        object-fit: cover;
        height: 20vw;
    }
}

.page-description {
    position: relative;
    font-size: 7.8px;
    padding-left: 10px;
    padding-top: 5px;
    width: 80%;
    line-height: 1;
    z-index: 0;
}


// main project pages

.tab-body {
    height: 90vh;
    min-width: 700px;
    width:100%;
    display:grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-template-rows: repeat(2, minmax(0, 1fr));
    gap: 8px;
}



.tab-body-research {
    height: 90vh;
    min-width: 700px;
    width:100%;
    display:grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-rows: repeat(2, minmax(0, 1fr));
    gap: 8px;
}


@media only screen and (max-width: 768px) {
    .tab-body {
        grid-template-columns: repeat(2, minmax(0, 1fr));
        grid-template-rows: repeat(4, 1fr);
        min-width: 100%;
    }

    .tab-body-research {
        grid-template-columns: repeat(1, minmax(0, 1fr));
        grid-template-rows: repeat(6, 1fr);
        min-width: 100%;
    }

    .project-container {
        min-width: 100%;
    }

    .proj-image {
        max-height: 200px;

        img {
            height: 35vh;
        }
    }

}


@media only screen and (max-width: 600px) {
    .tab-body {
        grid-template-columns: repeat(1, minmax(0, 1fr));
        grid-template-rows: repeat(6, 1fr);
        min-width: 100%;
    }
}

.tab-desc {
    padding-right: 8px;
}
.descriptor-text {
    margin-top: 4px;
    font-size: 12px;
    width: 100%;
}

.left-col {
    max-width: 27%;
    margin-right: 4%;

    .project-links {
        a {
            display: block;
            font-size:12px;
            margin-bottom: 8px;
            width: 100%;
            max-width: 300px;
        }

        a:hover {
            background-color: $design-green;
            color:$black;
        }
    }
}

.right-col {
    min-width: 69%;
    border-right-width:1px;
    border-right-style:solid;
    border-right-color:$black;
    overflow-y: scroll;
    padding-left: 20px;
    padding-bottom: 50px;
    margin-bottom:20px;
}

.proj-right{
    flex-direction: row;
    overflow-x: scroll;
    height: 100%;
    padding-top: 50px;
    overflow-y: scroll;
}

.project-container {
    border-radius: 4px;
    padding-bottom: 25px;
    padding: 10px 10px;
    min-width:200px;
    width: 100%;
    display:flex;
    flex-direction: column;
    //float:left;
    margin-right:15px;
    margin-bottom: 15px;
    // from: https://www.w3schools.com/css/css3_images.asp
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.project-container:hover {
    // box-shadow: 0px 0px 0 16px $white-t;
    background-color: $white-t;
}

.proj-image {
    height: 100%;
    overflow: hidden;

    img {
        object-fit: cover;
        top: 0px;
        left: 0px;
        height:30vh;
        width: 100%;
        margin-bottom:0px;
    }

}

.callout {
    margin-top:-12px;
    background-color: $white;
}

.callout-warning {
    //background-color: orange;
}


$callout-color-warning: $white;

.callout-title {
    background-color: $yellow;
  }



.callout-title-container {
    //background-color: red;
    line-height: 12px;
    //padding:10px 0px;
    font-weight: 500;
    font-size: 12.6px;
    width: 100%;
}

.callout-header {
    background-image: purple;
}


.callout-btn-toggle {
    background-color: $yellow;
    padding: 5px;
    width: 30px;
    border-radius: 8px;
    margin-left: 8px;
}

.callout-btn-toggle:hover{
    background-color: $research-red;
    color: $white;
}


.callout-body-container {
    //background-color: teal;
}



.proj-title {
    font-weight: 500;
    font-size: 12.6px;
    margin-top: 12px;
    margin-bottom: -15px;
    width: 100%;
}

.proj-description {
    font-size: 10px;
    width: 100%;
}

.proj-description-big {
    margin-top: -20px;
    font-size: 24px;
    width: 100%;
}

.project-links {
    width: 100%;
   

    a {
        background-color: $yellow;
        color: $black;
        text-decoration: none;
        font-size: 10px;
        padding: 8px 10px;
        margin-right: -3px;
        margin-bottom: 0px;
        border-radius: 4px;
    }

    a:hover {
        background-color: $black;
        color:$white;
    }
}

// Individual project pages

.code-proj-top{
    display: flex;
    flex-direction: left;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.code-proj-info{
    width: 40%;
    padding-left: 16px;
}

.code-proj-links {
    text-align: left;

    a {
        background-color: $yellow;
        color: $black;
        text-decoration: none;
        font-size: 13px;
        padding: 10px 15px;
        width: 30%;
        border-radius: 4px;
    }

    a:hover {
        background-color: $black;
        color: $white;
    }
}

.code-proj-image{
    //background-color: red;
    box-sizing: border-box;
    resize: horizontal;
    overflow: visible;
    width: 60%;
    max-height: 100%;

}

.video {
    display: inline-block;
    width: 100%;
}

.code-proj-title {
    font-size: 52px;
    line-height: 0.85;
    margin-bottom: 0px;
}

.code-proj-names {
    font-size: 15px;
    width: 75%;
}

.code-proj-class {
    font-size: 12px;
    width: 100%;
    margin-bottom: 30px;

    p {
        margin-bottom: 0px;
    }
}

.code-proj-bottom{
    padding: 20px;

   

}

.code-proj-desc{
    margin-top: 20px;
    font-size: 12px;
    width: 66%;
}

.left-border {
    border-style: solid;
    border-width: 0px 0px 0px 4px;
    border-color: $yellow;
    padding-left: 8px;
}


.wide {
    width: 100%;
}

.screenshots-container{
    //background-color: red;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 16px;

}

.screenshot{
    // background-color: teal;
    // padding: 10px;
    // overflow:visible;

    // from: 
    //padding: 10px;
    box-sizing: border-box;
    //resize: horizontal;
    //border: 1px solid;
    overflow: auto;
    max-width: 100%;
}

.screenshot-image {
    background-color: $code-blue-t;
    // height: 200px;
    

    img {
        object-fit: cover;
        display: block;
        top: 0px;
        left: 0px;
        margin:auto;
        width: 100%;
        max-height: 100%;
    }
    
}

.screenshot-caption {
    margin-top: 8px;
    font-size:10px;
    width: 80%;
}

@media only screen and (max-width: 700px) {
    .code-proj-top {
        display: inline-block;
        //background-color: red;
    }

    .code-proj-info {
        min-width: 100%;
        padding:0px;
    }

    .code-proj-image {
        width: 100%;
    }

    .code-proj-links {
        text-align: center;
    
        a {
            display: inline-block;
            width: 100%;
            margin:0px;
        }
    }
}
  
// Design page

.graphic-design-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 10px;
}